// Стили для OrderFeed
.orderFeed {
  &__container {
    max-width: 1280px;
    margin: 20px auto 0;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    column-gap: 60px;
    margin-top: 20px;
  }

  &__list {
    list-style: none;
    padding: 0;
    max-height: 880px;
    overflow-y: scroll;
    width: 608px;

    &::-webkit-scrollbar {
      width: 8px;
      background-color: #2f2f37;
    }

    &::-webkit-scrollbar-thumb {
      width: 8px;
      background-color: #8585ad;
    }
  }

  &__orderElement {
    box-sizing: border-box;
    background-color: rgba(28, 28, 33, 1);
    padding: 24px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06),
      0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 40px;
    max-width: 584px;
    margin-left: 8px;
    cursor: pointer;
  }

  &__infoOrder {
    display: flex;
    justify-content: space-between;
  }

  &__leftContainer {
    max-width: 608px;
  }

  &__rightContainer {
    width: 580px;
    display: flex;
    flex-direction: column;
    row-gap: 60px;
  }

  &__orders {
    display: grid;
    grid-template-columns: 272px 272px;
    column-gap: 36px;
  }

  &__ordersDone {
    max-height: 313px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  &__elementList {
    list-style: none;
  }

  &__containerIngredients {
    display: flex;
    justify-content: space-between;
  }

  &__ingredients {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
  }

  &__imgElement {
    position: relative;
  }

  &__image {
    width: 64px;
    height: 64px;
    object-fit: cover;
    object-position: center;
    background-color: #131316;
    border-radius: 50px;
    border: 2px solid rgba(128, 26, 178, 1);
  }

  &__text {
    font-family: "JetBrains Mono";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    position: absolute;
    z-index: 15;
    top: 30%;
    left: 30%;
    margin: 0;
  }

  &__price {
    display: flex;
    max-height: 24px;
    margin-top: 25px;
    column-gap: 8px;
  }

  &__color {
    color: #00cccc;
  }
}

ul .orderFeed__elementList:not(:last-child) {
  margin-bottom: 8px;
}

ul .orderFeed__orderElement:not(:last-child) {
  margin-bottom: 16px;
}

ul .orderFeed__imgElement:not(:last-child) {
  margin-left: -15px;
}

ul .orderFeed__last::after {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #1c1c21;
  opacity: 0.6;
  content: "";
  border-radius: 50px;
}
