/* Стили для LoginPage */
.loginPage {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  margin: 160px auto 0 auto;

  &__title {
    text-align: center;
  }

  &__button {
    margin: 0 auto 64px auto;
  }

  &__text {
    margin: 16px auto 0 auto;

    &_link {
      margin-left: 10px;
      color: #4c4cff;
    }
  }
}
