/* Стили для MainPage */
.mainPage {
  display: flex;
  justify-content: center;
  column-gap: 60px;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;

  /*
  Свойство padding-bottom задал специально для проверки скролла и наглядного видения эффекта
  в стиле "глассморфизм" у шапки страницы (навигационное меню) на экране 1920x1080
  */
  padding-bottom: 100px;
}
