/* Объявление миксинов */
@mixin scrollBar {
  &::-webkit-scrollbar {
    width: 6px;

    &-track {
      background-color: #2f2f37;
    }

    &-thumb {
      border-radius: 8px;
      background-color: #8585ad;

      &:hover {
        background-color: #6b6b82;
      }
    }
  }
}
