// Стили для Registration
.registration {
  &__content {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    margin: 160px auto 0;
  }

  &__title {
    text-align: center;
  }

  &__button {
    margin: 0 auto 80px;
  }

  &__text {
    margin: 16px auto 0;
  }

  &__link {
    color: #4c4cff;
    text-decoration: none;
  }
}
