.content {
  display: flex;
  column-gap: 60px;
  margin: 100px auto 0;
  max-width: fit-content;
}

.navigation {
  display: flex;
  flex-direction: column;
  max-width: 320px;
}

.list {
  margin: 0 0 80px;
  padding: 0;
  list-style: none;
}

.text {
  margin: 0;
}

.element {
  margin: 17px 0 17px;
}

.link {
  display: flex;
  column-gap: 8px;
  text-decoration: none;
  color: #8585ad;
}

.activeLink {
  display: flex;
  column-gap: 8px;
  text-decoration: none;
  color: #f2f2f3;
}

.button {
  background: none;
  border: none;
  color: #8585ad;
  cursor: pointer;
}
