// Стили для NotFound
.notFound {
  &__container {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__subtitle {
    margin-top: 40px;
  }

  &__image {
    background-image: url(../../images/404.jpg);
    background-repeat: no-repeat;
    height: 540px;
    width: 720px;
  }
}
