/* Стили для ErrorPage */
.errorPage {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__img {
    width: 540px;
    height: 720px;
    background-image: url("../../images/404.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &__subtitle {
    margin-top: 40px;
  }
}
