/* Инициализация миксинов */
@import "../../styles/mixins";

/* Стили для BurgerIngredients */
.burgerIngredients {
  &__tabs {
    display: flex;
    max-width: 600px;
  }

  &__components {
    max-width: 600px;
    max-height: 750px;
    overflow-y: scroll;
    @include scrollBar;

    &_list {
      display: flex;
      flex-wrap: wrap;
      gap: 10px 26px;
      padding-left: 16px;
      margin-top: 40px;
    }
  }
}
