// Стили для BurgerIngredients
.burgerIngredients {
  &__tabs {
    display: flex;
    max-width: 600px;
  }

  &__components {
    max-width: 600px;
    max-height: 756px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: #2f2f37;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #8585ad;
    }
  }

  &__listElements {
    list-style: none;
    padding: 0 0 0 16px;
    display: flex;
    column-gap: 24px;
    margin: 0;
    flex-wrap: wrap;
  }
}
