.burgerIngredientElement {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;

  &__price {
    display: flex;
    align-items: center;
    column-gap: 8px;
  }

  &__title {
    text-align: center;
  }
}
