/* Стили для BurgerIngredient */
.burgerIngredient {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  transition: 0.2s ease-in-out;
  cursor: pointer;

  &:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }

  &:hover {
    scale: calc(100% + 2%);
  }

  &__price {
    display: flex;
    align-items: center;
    column-gap: 8px;
  }

  &__title {
    letter-spacing: -0.01em;
    text-align: center;
  }
}
